@import "./variables";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-color;
}

.appBar {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  padding: 12px;
  column-gap: $spacing-unit;
  div {
    display: flex;
    width: 100%;
    column-gap: $spacing-unit;
    max-width: 62.5rem;
    margin: auto;
  }
}

.spanHeader {
  min-width: 134px;
}

.title {
  margin: 0;
  color: $text-color;
}

.mainContent {
  flex: 1;
  padding: $spacing-unit;
}
