.breadcrumb {
  font-size: 1rem;

  margin: 0.5rem 0 1rem;

  span {
    margin: 0 0.3125rem;

    a {
      color: #5d5d5d;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    svg {
      margin-left: 0.5rem;
    }
  }
}
