.searchForm {
  display: flex;
  width: 100%;
  flex-grow: 1;
  // max-width: 640px;
}

.searchInput {
  flex: 1;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 8px 12px;
  outline: none;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
}

.searchButton {
  //   background-color: transparent;
  width: 40px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  white-space: nowrap; // Asegura que el botón no se ajuste al contenido
  margin-left: -14px;
}

.icon-search {
  // Agrega el ícono de búsqueda que prefieras.
}

.clearIcon {
  margin-top: 10px;
  transform: translatex(-25px);
  cursor: pointer;
  font-size: large;
}
